.person-page {
    width: 375px;
    margin: auto; 
    padding: 16px;
    
    .person-details {
        display: flex;
        flex-direction: column;
        align-items: center;

        .person-image {
            margin-bottom: 27px;
            img {
                height: 137px;
                width: 137px;
            }
        }

        .person-firstName {
            font-size: 36px;
            margin-bottom: 15px;
        }

        .person-age {
            font-weight: 900;
            font-size: 13px;
            text-transform: uppercase;
            margin-bottom: 32px;
        }
    }

    .actions {
        .btn {
            width: 100%;
        }
    }
}
